<footer class="footer bg-dark text-white">
  <p class="text-center">&copy; 2025 Joker hehe</p>
  <ul class="list-inline text-center">
  <li class="list-inline-item">
    <%= link_to 'Политика конфиденциальности', privacy_policy_path, class: 'text-white' %>
  </li>
  <li class="list-inline-item">
    <%= link_to 'Условия использования', terms_of_use_path, class: 'text-white' %>
  </li>
</ul>
</footer>